In [7]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [8]:
#원본 데이터 전체 경로
DATA_PATH = '../model/Data_surface/'

#22년 12월
surface_22_12_03w = '../model/Data_surface/surface_22_12_03.csv'
surface_22_12_07w = '../model/Data_surface/surface_22_12_07.csv'
surface_22_12_10w = '../model/Data_surface/surface_22_12_10.csv'
surface_22_12_off = '../model/Data_surface/surface_22_12_off.csv'
#23년1월
surface_23_01_03w = '../model/Data_surface/surface_23_01_03.csv'
surface_23_01_07w = '../model/Data_surface/surface_23_01_07.csv'
surface_23_01_10w = '../model/Data_surface/surface_23_01_10.csv'
surface_23_01_off = '../model/Data_surface/surface_23_01_off.csv'
#23년 2월
surface_23_02_03w = '../model/Data_surface/surface_23_02_03.csv'
surface_23_02_07w = '../model/Data_surface/surface_23_02_07.csv'
surface_23_02_10w = '../model/Data_surface/surface_23_02_10.csv'
surface_23_02_off = '../model/Data_surface/surface_23_02_off.csv'

weather = '../model/Data_surface/weather.csv'

In [9]:
surface_temp = pd.read_csv(surface_22_12_03w)

In [10]:
surface_temp

                   Time   표면  2cm  5cm  7.5cm   8cm  13cm  20cm  30cm
0       2022-12-01 0:00  6.0  7.1  8.5   10.4  14.8  16.7  16.0  15.7
1       2022-12-01 0:01  6.0  7.1  8.5   10.4  14.8  16.7  15.9  15.7
2       2022-12-01 0:02  6.0  7.1  8.5   10.4  14.8  16.7  15.9  15.7
3       2022-12-01 0:03  6.0  7.1  8.5   10.2  14.6  16.7  16.0  15.7
4       2022-12-01 0:04  6.0  7.1  8.3   10.2  14.6  16.7  16.0  15.7
...                 ...  ...  ...  ...    ...   ...   ...   ...   ...
31035  2022-12-31 23:50  2.2  2.5  3.1    4.2   7.0   8.6   8.0   7.2
31036  2022-12-31 23:52  2.0  2.4  2.9    4.2   7.0   8.6   7.9   7.2
31037  2022-12-31 23:54  2.0  2.3  2.8    3.9   6.9   8.5   7.9   7.2
31038  2022-12-31 23:56  2.0  2.3  2.8    3.9   6.9   8.5   7.9   7.2
31039  2022-12-31 23:58  2.0  2.3  2.8    3.9   6.9   8.5   7.8   7.3

[31040 rows x 9 columns]

In [11]:
st = surface_temp[ ['Time', '표면'] ]

In [12]:
st.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31040 entries, 0 to 31039
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    31040 non-null  object
 1   표면      31032 non-null  float64
dtypes: float64(1), object(1)
memory usage: 485.1+ KB

In [13]:
st_drop = st.dropna(subset=['표면'], ignore_index=True)

In [14]:
st_drop

                   Time   표면
0       2022-12-01 0:00  6.0
1       2022-12-01 0:01  6.0
2       2022-12-01 0:02  6.0
3       2022-12-01 0:03  6.0
4       2022-12-01 0:04  6.0
...                 ...  ...
31027  2022-12-31 23:50  2.2
31028  2022-12-31 23:52  2.0
31029  2022-12-31 23:54  2.0
31030  2022-12-31 23:56  2.0
31031  2022-12-31 23:58  2.0

[31032 rows x 2 columns]

In [15]:
st_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31032 entries, 0 to 31031
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    31032 non-null  object
 1   표면      31032 non-null  float64
dtypes: float64(1), object(1)
memory usage: 485.0+ KB

In [16]:
st_drop.to_csv('../model/Data_pre_processing/surface_23_01_off.csv')

In [17]:
sttr = '../model/Data_pre_processing/surface_23_01_off.csv'
print(sttr.split('/')[-1].split('.')[0])

surface_23_01_off

##자동화!

In [18]:
def preprocessing(csv_path, save_path):
    surface_temp_csv = pd.read_csv(csv_path)
    name = csv_path.split('/')[-1].split('.')[0] + '_p'

    st_drop = surface_temp_csv[ ['Time', '표면'] ].dropna(subset=['표면'], ignore_index=True)
    if save_path[-1] != '/':
        save_path = save_path + '/'
    st_drop.to_csv( save_path + name + '.csv' )

In [19]:
cp = '../model/Data_surface/surface_23_02_off.csv'
sp =  '../model/Data_pre_processing'
preprocessing(cp, sp)

##기상 데이터!

In [20]:
weather_data = pd.read_csv(weather)
weather_data

,Time(Collected),풍향min,풍향Avg,풍향Max,풍속min,풍속Avg,풍속Max,대기온도(℃),상대습도(%RH),기압(hPa),강수량(mm),수평면일사량(nm),자외선지수(I),P2.5 미세먼지,P10 미세먼지
0,2023-03-09 8:08,0.0,69.0,0.0,0.00,0.30,0.00,10.30,75.90,1002.50,1.9,32.10,0,46.0,62.0
1,2023-03-09 8:06,90.0,86.0,90.0,0.40,0.40,0.40,10.10,76.10,1002.60,1.9,34.20,0,47.0,61.0
2,2023-03-09 8:04,0.0,3.0,0.0,0.30,0.30,0.30,10.10,76.70,1002.60,1.9,37.60,0,46.0,62.0
3,2023-03-09 8:02,0.0,1.0,0.0,0.00,0.20,0.00,10.10,77.00,1002.60,1.9,35.10,0,47.0,64.0
4,2023-03-09 8:00,0.0,1.0,0.0,0.00,0.30,0.00,10.10,75.70,1002.50,1.9,35.50,0,46.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34356,2023-01-17 11:51,0.0,0.1,0.0,0.03,0.03,0.03,9.68,7.01,101.54,0.0,26.23,0,3.3,3.7
34357,2023-01-17 11:50,0.0,0.0,0.0,0.00,0.00,0.00,9.67,6.74,101.55,0.0,24.88,0,3.2,3.8
34358,2023-01-17 10:20,0.0,34.7,0.0,0.00,0.02,0.00,9.54,9.70,101.65,0.0,13.71,0,5.1,6.8
34359,2023-01-17 10:18,0.0,35.6,0.0,0.00,0.02,0.00,9.54,9.69,101.64,0.0,13.86,0,5.9,7.5
34360,2023-01-17 10:16,27.0,0.8,27.0,0.06,0.04,0.06,9.54,9.85,101.63,0.0,14.20,0,8.8,9.9

In [24]:
wd = weather_data[['Time(Collected)', '풍속Avg', '대기온도(℃)', '상대습도(%RH)', '강수량(mm)']]
wd

        Time(Collected)  풍속Avg  대기온도(℃)  상대습도(%RH)  강수량(mm)
0       2023-03-09 8:08   0.30    10.30      75.90      1.9
1       2023-03-09 8:06   0.40    10.10      76.10      1.9
2       2023-03-09 8:04   0.30    10.10      76.70      1.9
3       2023-03-09 8:02   0.20    10.10      77.00      1.9
4       2023-03-09 8:00   0.30    10.10      75.70      1.9
...                 ...    ...      ...        ...      ...
34356  2023-01-17 11:51   0.03     9.68       7.01      0.0
34357  2023-01-17 11:50   0.00     9.67       6.74      0.0
34358  2023-01-17 10:20   0.02     9.54       9.70      0.0
34359  2023-01-17 10:18   0.02     9.54       9.69      0.0
34360  2023-01-17 10:16   0.04     9.54       9.85      0.0

[34361 rows x 5 columns]

In [25]:
wd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34361 entries, 0 to 34360
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Time(Collected)  34361 non-null  object
 1   풍속Avg            34361 non-null  float64
 2   대기온도(℃)          34361 non-null  float64
 3   상대습도(%RH)        34361 non-null  float64
 4   강수량(mm)          34361 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.3+ MB

In [ ]:
wd.to_csv('../model/Data_pre_processing/weather.csv')